.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 385px);
    gap: 3rem;
    place-content: center center;
}

.games-container > div {
    background-color: var(--card-color);
    border: 10px solid var(--card-color);
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 26px -1px rgba(0,0,0,0.87); 
    box-shadow: 1px 2px 26px -1px rgba(0,0,0,0.87); 
}

.tooltip {
    font-size: 2rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    color: var(--title-color);
}

.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: #555;
color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;

position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -60px;

opacity: 0;
transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

.description {
    color: var(--description-color);
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

